#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 15px;
  padding-bottom:4px;
  color: white;
  font-size: 50px;
  cursor: pointer;
  border: black solid;
  background-color: red;
  
}
.container {
  position: relative;
  display: none;
}
#expandedImg{
width: 100px;
  height: auto;
font-size: 1rem;}
.op:hover{
	opacity: 1;
}
.op {
  opacity: 0.8; 
  cursor: pointer; 
}