/* */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Calibri light', 'Cablibri';
}
#header{
	position: fixed; 
	left: 0;
	top: 0;
	right: 0;
	background: #514848;
	border-bottom: 1px solid brown;
}
.headerbutton{
	margin-right:29px;
	background-color:#3f3838;
}
.search{
	display: inline-block;
	float: right;
	margin: 10px 30px;
}
.search form input[type=text]{
	padding: 5px;
	width: 300px;
	border: 1px solid #333;
}
.search form input[type=submit]{
	height: 28px;
	margin-left: -5px;
	border: 1px solid #333;
	background: #EEE;
	text-transform: uppercase;
	padding: 0 20px;
}
.user{
	display: inline-block;
	color: white;
	margin-left: 150px;
}
nav{
	display: inline-block;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	text-decoration: none;
	text-align: center;
	border-right: 1px solid #333;
	text-transform: uppercase;
	padding: 15px 30px;
	line-height: 50px;
}
nav ul li a:hover{
	background-color:#333;
}
#content{
	margin: 100px auto 100px auto;
	width: 960px;
}
#content form label{
	display: block;
	font-weight: bold;
}
#content form input{
	display: block;
	width: 100%;
	padding: 10px;
}
#content form textarea{
	display: block;
	width: 100%;
}
#stopka{
	width: 100%;
	left: 0;
	margin-top: 10px; 
	background: #514848;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
	margin-left:0;
	padding-left:0;
}
#show{
	margin-left: 20px;
}
h2{
}
.stopkatekst{
	color: white;
}
.stopkatekst:hover{
	color: #b8b1b1;
}
article{
	background-color: #efefef;
	margin-right: 20px;
	border: 1px solid #999;
	margin-bottom: 35px;
	padding: 20px;
}
.addheader{
	font-size: 30px;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: bold;
}
.addheader:hover{
	font-size: 30px;
	color: #333;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: bold;
}